  @font-face {
  font-family: "Nunito";
  src:
    url("/assets/styles/fonts/Nunito-Light.ttf") format("truetype"), 
    url("/assets/styles/fonts/nunito-v16-latin-200.woff") format("woff"),
    url("/assets/styles/fonts/nunito-v16-latin-200.woff2") format("woff2")
  ;
  font-weight: 100 300;
  font-style: normal;
}

 @font-face {
  font-family: "Nunito";
  src:
    url("/assets/styles/fonts/Nunito-Regular.ttf") format("truetype"), 
    url("/assets/styles/fonts/nunito-v16-latin-regular.woff") format("woff"),
    url("/assets/styles/fonts/nunito-v16-latin-regular.woff2") format("woff2")
  ;
  font-weight: 400 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src:
    url("/assets/styles/fonts/Nunito-Medium.ttf") format("truetype"), 
    url("/assets/styles/fonts/nunito-v16-latin-600.woff") format("woff"),
    url("/assets/styles/fonts/nunito-v16-latin-600.woff2") format("woff2")
  ;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: 
    url("/assets/styles/fonts/Nunito-Bold.ttf") format("truetype"),
    url("/assets/styles/fonts/nunito-v16-latin-700.woff") format("woff"),
    url("/assets/styles/fonts/nunito-v16-latin-700.woff2") format("woff2")
  ;
  font-weight: 700;
  font-style: normal;
} 

@font-face {
  font-family: "Orbitron";
  src:
    url("/assets/styles/fonts/orbitron-v19-latin-500.woff") format("woff"),
    url("/assets/styles/fonts/orbitron-v19-latin-500.woff2") format("woff2")
  ;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Nunito", sans-serif;
  color: $darkBlue;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after{
  content: '';
  clear: both;
  display: table;
}

.noScroll {
  overflow-y: hidden;

  @mixin atLarge {
    overflow-y: visible;
  }
}