.type {

  &__tagline {
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;

    @mixin atLarge {
      font-size: 1rem;
    }
  }

  &__title {
    font-size: 2.35rem;
    font-weight: 700;
    line-height: 1.2;

    @mixin atMedium {
      font-size: 2.5rem;
    }

    @mixin atLarge {
      font-size: 2.65rem;
    }

    @mixin atXLarge {
      font-size: 3rem;
    }
  }

  &__title--hero {
    font-size: 2.35rem;
    font-weight: 700;
    line-height: 1.2;

    @mixin atLarge {
      font-size: 3rem;
    }

    @mixin atXLarge {
      font-size: 4rem;
    }
  }

  &__title--small {
    font-size: 1.65rem;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75;

    @mixin atMedium {
      font-size: 1.15rem;
    }

    @mixin atXLarge {
      font-size: 1.35rem;
      font-weight: 500;
    }
  }

  &__subtitle--hero {
    font-weight: 600;
    line-height: 2;

    @mixin atXLarge {
      font-weight: 500;
      line-height: 1.75;
    }
  }

  &__generic-text {
    font-size: .875rem;
    line-height: 1.7;

    @mixin atXLarge {
      font-size: 1rem;
    }
  }

  &__link {
    color: $lightBlue;

    @mixin atLarge {
      font-size: 1.15rem;
    }

    @mixin atXLarge {
      font-size: 1.25rem;
    }
  }
}