.astronaut {
  background-color: rgba($mainSilverRgba, .5);

  &__container {
    @mixin atSmall {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 48px;
    }

    @mixin atLarge {
      justify-items: start;
      grid-template-columns: 16rem auto minmax(auto, 425px);
      grid-auto-flow: dense;
      column-gap: 1.5rem;
      row-gap: 2rem;
    }
  }

  &__ilustration{
    svg {
      height: 200px;
      width: 100%;
      display: block;

      @mixin atSmall {
        height: 315px;
      }

      @mixin atLarge {
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    @mixin atSmall {
      grid-column: span 2;
    }

    @mixin atLarge {
      grid-column: 3 / 4;
      justify-self: stretch;
      align-self: end;
      position: relative;
      padding: 50%;
      margin-bottom: 5px;
    }

    @mixin atXLarge {
      grid-row: span 2;
      align-self: start;
    }
  }

  &__text-content {
    text-align: center;

    @mixin atSmall {
      grid-column: span 2;
      max-width: 32rem;
      margin: 0 auto;
    }

    @mixin atMedium {
      max-width: 36rem;
    }

    @mixin atLarge {
      text-align: start;
      max-width: 30rem;
      margin: 0;
      align-self: end;
    }

    @mixin atXLarge {
      max-width: 33rem;
    }
  }

  &__tagline {
    margin-top: 2rem;

    @mixin atSmall {
      margin-top: 3rem;
    }

    @mixin atXLarge {
      margin-top: 0;
      margin-bottom: .75rem;
    }
  }

  &__title {
    margin-top: 1.75rem;
    margin-bottom: 2.5rem;

    @mixin atXLarge {
      margin-top: 0;
      margin-bottom: 1.25rem;
    }
  }

  &__subtitle {
    color: $mainGray;
    padding: 0 1.25rem 2rem;

    @mixin atLarge {
      font-size: 1rem;
      padding: 0;
      margin-bottom: 0;
    }

    @mixin atXLarge {
      max-width: 29rem;
    }
  }

  &__feature-box {
    max-width: 15rem;
    margin: 0 auto;
    position: relative;
    overflow: auto;

    @mixin atSmall {
      margin: 0;
    }

    @mixin atMedium {
      max-width: 17rem;
    }

    @mixin atLarge {
      max-width: 15rem;
    }
  }

  &__feature-box--pull-right {
    text-align: right;
    margin-bottom: 2rem;

    @mixin atSmall {
      justify-self: end;
      margin-bottom: 0;
    }

    @mixin atLarge {
      justify-self: start;
      text-align: left;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to right, $mainRed, $lightBlue);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;

    svg {
      height: 32px;
      width: 100%;
      margin: auto;
      fill: #fff;
    }

    @mixin atLarge {
      position: static;
    }
  }

  &__icon--larger {
    svg {
      height: 36px;
    }
  }

  &__icon--pull-left {
    left: 0;
  }

  &__feature-title {
    margin: 1.5rem 0 1rem;

    @mixin atLarge {
      margin: 1.25rem 0 .5rem;
    }
  }

  &__feature-text {
    color: $mainGray;

    @mixin atLarge {
      font-size: 1rem;
      margin-top: .75rem;
    }
  }
}